body {
    font-family: 'Roboto', sans-serif;
}

.bg{
    background-color: rgba(0, 0, 0, 0.7);
}

.background-div {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
}

.navigation-bar {
    display: flex;
}

.menu {
    width: 50%;
}

.links-navigation {
    width: 50%;
    text-align: right;
    padding: 2%;
}

h2 {
    color: white;
    margin: 3%;
}

h3 {
    color: white;
}

ul li {
    display: inline;
    color: white;
}

.second-div {
    background: grey;
    height: 100vh;
}

hr {
    width: 50%;
    background-color: rgb(23, 237, 144);
    width: 100%;
}

footer {
    background-color: aquamarine;
    height: 10vh;
}

.buttons-index {
    display: flex;
    height: 250px;
    justify-content: center;
    text-align: center;
    color: white;
}

.buttonSquare {
    width: 25%;
    height: 50vh;
    background-color: aquamarine;
    border-radius: 25px;
    margin: 1%;
}
a,
a:hover {
    color: black;
    text-decoration: none;
}